<!DOCTYPE html>
<html lang="en" ng-app="GISBHApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="js/ng-cordova.min.js"></script>
    <!--0
    <script src="js/ngStorage.min.js"></script>
    -->
    <script src="cordova.js"></script>
    <script src="js/jquery/external/jquery/jquery.js"></script>

    <!-- your app's js -->

    <!--Setup App-->
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <script src="js/swiper.min.js"></script>
    <script src="js/anaksyarikat.js"></script>
    <script src="js/screensaver.js"></script>
</head>
<body ng-controller="GISBHCtrl">
<ion-pane>
    <ion-content class="start-sektor">
        <div class="row">
            <div class="swiper-container">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div ng-repeat="b in AnakSyarikat" class="swiper-slide"><img src="img/10as/10/{{b}}" style="height: 1080px !important;"></div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>

                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>

                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
        <input type="hidden" id="jumlah_image" name="jumlah_image" value="2">
        <div class="row footer-nav">
            <div class="col" align="left">
                <img id="back-p3" src="img/back.png" class="button-back" ng-click="goBackPage()">
            </div>
            <div class="col" align="right">
                <img id="home-p3" src="img/home.png" class="button-home" ng-click="goBackHome()">
            </div>
        </div>
    </ion-content>
</ion-pane>
</body>
</html>
