<!DOCTYPE html>
<html lang="en" ng-app="GISBHApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="js/ng-cordova.min.js"></script>
    <!--0
    <script src="js/ngStorage.min.js"></script>
    -->
    <script src="cordova.js"></script>
    <script src="js/ui-bootstrap-tpls-1.0.3.js"></script> 
    <script src="js/jquery/external/jquery/jquery.js"></script>
    <script src="js/jquery/modal-video.min.js"></script>
    <script src="js/jquery/jquery-modal-video.min.js"></script>


  
    <!-- your app's js -->

    <!--Setup App-->
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <script src="js/swiper.min.js"></script>
    <script src="js/index-7sektor.js"></script>
    <script src="js/screensaver.js"></script>
</head>
<body ng-controller="GISBHCtrl">
    <ion-pane>
        <ion-content class="start-sektor">
            <div class="row">
                <div class="swiper-container">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide swiper-slide orange-slide swiper-slide-visible swiper-slide-active"><img src="img/7sektor/1.jpg"><img  class="perladangan" id="play-video-1" src="img/7sektor/play-video.png" ng-click="videoClickPertanian()">
                        </div>
                        <div class="swiper-slide"><img src="img/7sektor/2.jpg"></div>
                        <div class="swiper-slide"><img src="img/7sektor/3.jpg"></div>
                        <div class="swiper-slide"><img src="img/7sektor/4.jpg"><img id="play-video-2" src="img/7sektor/play-video.png"></div>
                        <div class="swiper-slide"><img src="img/7sektor/5.jpg"><img id="play-video-3" src="img/7sektor/play-video.png"></div>
                        <div class="swiper-slide"><img src="img/7sektor/6.jpg"></div>
                        <div class="swiper-slide"><img src="img/7sektor/7.jpg"><img id="play-video-4" src="img/7sektor/play-video.png"></div>
                        ...
                    </div>
                    <!-- If we need pagination -->
                    <div class="swiper-pagination"></div>

                    <!-- If we need navigation buttons -->
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                    <!-- If we need scrollbar -->
                    <div class="swiper-scrollbar"></div>
                </div>
            </div>
            <div class="row footer-nav">
                <div class="col" align="left">
                    <img id="back-p3" src="img/back.png" class="button-back" ng-click="openMainPage()">
                </div>
                <div class="col" align="right">
                    <img id="home-p3" src="img/home.png" class="button-home" ng-click="openHomePage()">
                </div>
            </div>
           
            <script type="text/ng-template" id="myModal.html">
        <div id="my-modal" click-outside="cancel()">
          <div class="modal-header">
            <h3 class="modal-title">{{title}}</h3>
          </div>
          <div class="modal-body">
            <div class="media">
              <video style="width:100%;height:100%;" controls autoplay ng-src="{{videoSource}}"></video>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
          </div>
        </div>
      </script>

        </ion-content>
    </ion-pane>
    

</body>
</html>
<style type="text/css">
#play-video-1 {
    position: absolute;
    right: 140px;
}
.modal {
      background-color: none;

}

</style>
