<!DOCTYPE html>
<html lang="en" ng-app="GISBHApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="js/ng-cordova.min.js"></script>
    <!--0
    <script src="js/ngStorage.min.js"></script>
    -->
    <script src="cordova.js"></script>
    <!-- your app's js -->

<script src="js/jquery/external/jquery/jquery.js"></script>
    
    
    <!--Setup App-->
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="css/animate.css">
    <script src="index.js"></script>
    <script src="js/screensaver.js"></script>
</head>
<body ng-controller="GISBHCtrl">
    <audio autoplay preload='auto' loop id="myAudio">
  <source src="img/bgmusik.mp3" type="audio/mpeg" >
</audio>

    <ion-pane>
        <div id="screensaver-place" class="screensaver-back" ng-click="screensaverOff()">

        </div>
        <ion-content class="start-back">
            <div id="button-place" class="button-sektor">
                <div class="row">
                    <div class="col right-side">
                        <div>
                            <img id="btn-gisbh" src="img/button-gisbh.png" class="main-but">
                        </div>
                    </div>
                    <div>
                        <img ng-click="openprofile()" id="logo-gisbh" src="img/gisbh-logo.png">
                    </div>
                    <div class="col left-side">
                        <div>
                            <img  id="btn-giibf" src="img/button-giibf.png" class="main-but" >
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col right-side"></div>
                    <div>
                        <img id="text-logo" src="img/teks-logo.png">
                    </div>
                    <div class="col left-side"></div>
                </div>

                 <div class="row">
                    <div class="col right-side"></div>
                    <div>
                        <img  ng-click="openikhwanTV()" id="btn-giibf" src="img/ikhwantv-button.png" class="main-but" >
                    </div>
                    <div class="col left-side"></div>
                </div>


            </div>
        </ion-content>
    </ion-pane>
</body>
</html>
