<!DOCTYPE html>
<html lang="en" ng-app="GHCApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="js/ng-cordova.min.js"></script>
    <script src="js/ngStorage.min.js"></script>
    <script src="cordova.js"></script>
    <!-- your app's js -->

    <!--Setup App-->
    <link rel="stylesheet" href="index.css">
    <script src="setting.js"></script>
</head>
<body ng-controller="GHCCtrl">
<ion-pane>
    <ion-header-bar class="bar-calm">
        <button class="button icon ion-chevron-left" ng-click="gotoOrder()"></button>
        <h1 class="title">GHC ORDER SETTING</h1>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Server</span>
                <input type="text" value="{{ url_information.url }}" ng-model="url_information.url">
            </label>
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" value="{{ url_information.username }}" ng-model="url_information.username">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" value="{{ url_information.password }}" ng-model="url_information.password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-positive" ng-click="saveUrlData()">Save</button>
            <button class="button button-energized" ng-click="checkUsernamePassword()">Check Connection</button>
        </div>
    </ion-content>
</ion-pane>
</body>
</html>

